01-birthday-buddy/final
02-tours/final
03-reviews/final
04-accordion/final
05-menu/final
06-tabs/final
07-slider/final
08-lorem-ipsum/final
09-color-generator/final
10-grocery-bud/final
11-navbar/final
12-sidebar/final
13-strapi-submenus/final
14-cart/final

